@page "/"

<h1>Plasticos Fortuna</h1>

<AuthorizeView>
    <Authorized>
        <p>Bienvenido, @context.User.Identity.Name </p>
    </Authorized>
    <NotAuthorized>
        <p>No has iniciado sesi&#243;n</p>
    </NotAuthorized>
</AuthorizeView>
