@page "/"

<h1>Plasticos Fortuna</h1>

<AuthorizeView>
    <Authorized>
        <p>Bienvenido, @context.User.Identity.Name </p>
    </Authorized>
    <NotAuthorized>
        <p>No has iniciado sesi&#243;n</p>
    </NotAuthorized>
</AuthorizeView>

@*<AuthorizeView Roles="Administrador">
    <Authorized>
        <p>Tu rol es Administrador </p>
    </Authorized>
    <NotAuthorized>
        <p>Tu rol <b>NO</b> es administrador</p>
    </NotAuthorized>
</AuthorizeView>*@
