@page "/login"

@using PlasticosFortuna.Shared;
@using PlasticosFortuna.UI.Data;
@using PlasticosFortuna.UI.Services; 
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject NavigationManager NavigationManager;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUserService userService

<div class="container login-container">
    <div class="col-md-6 login-form-1">
        <h3>Inicio de sesi&#243;n</h3>
        <EditForm Model="@user" OnValidSubmit="@ValidateUser">
            <div class="form-group">
                <input type="text" class="form-control" @bind="user.LoginId" placeholder="Nombre de usuario *" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" @bind="user.Password" placeholder="Contraseña *" />
            </div>
            <div class="form-group">
                @if (Loading)
                {
                    <input type="submit" class="btnSubmit" value="Login" />
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                }
                else
                {
                    <input type="submit" class="btnSubmit" value="Login" />
                }
            </div>
            <div class="form-group">
                <a href="#" class="ForgetPwd">Olvid&#243; su contrase&#241;a?</a>
            </div>
        </EditForm>
    </div>
</div>

@code {        
    private UserModel user;
    private bool Loading = false;

    protected override Task OnInitializedAsync()
    {
        user = new UserModel();
        Loading = false;
        return base.OnInitializedAsync();
    }

    private async Task<bool> ValidateUser()
    {
        Loading = true;
        //StateHasChanged();
        var returnedUser = await Task.Run(() => userService.LoginAsync(user));

        if(returnedUser.LoginId != null)
        {
            ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAutheticated(returnedUser);
            NavigationManager.NavigateTo("/");
            Loading = false;
            //StateHasChanged();
            return await Task.FromResult(true);
        }
        else
        {
            Loading = false;
            //StateHasChanged();
            return await Task.FromResult(false);
        }
    }

}
