@inherits LayoutComponentBase
@using PlasticosFortuna.UI.Data
@using Blazored.Toast.Configuration
@inject IBootstrapCss BootstrapCss
@inject AuthenticationStateProvider AuthenticationStateProvider

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="6" />
<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="login" @onclick="(() => Logout())">Cerrar Sesi&#243;n</a>
            </Authorized>
            <NotAuthorized>
                <a href="login">Iniciar Sesi&#243;n</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    private bool isServerSide = false;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
        catch (Exception)
        {

            isServerSide = true;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstrun)
    {
        if (isServerSide && firstrun)
        {
            await BootstrapCss.SetBootstrapCss("4.3.1");
        }
    }

    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}